
<h1>Hola estoy en peliculas</h1>


<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if query.Response == 'True'  %}
<h1>La pelicula fue encontrada</h1>
{% for titulo in query.Search %}

<li>
<img src={{titulo.Poster}}>
<h1>{{titulo.Title}}</h1>

<h1>{{titulo.Actors}}</h1>
<h1>{{titulo.Plot}}</h1>
<h1>Desea descargar la pelicula?</h1>
<a href="{% url 'peliculas:descargar_pelicula' query.Search.Year query.Search.Title  %}" >Descargar</a>
</li>


{% endfor %}
{% comment %} a href="{% url 'polls:detail' question.id %}">
{{ question.question_text }}</a> {% endcomment %}
{% else %}

<h1>La pelicula no fue encontrada</h1>
{% endif %} 


